{% extends "layout.html" %}
{% block body %}


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Pannel</h1>
            <span class="subheading">Manage your post here.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
<hr><h1>Add/Edit Posts:<a href="/logout"><button class="btn btn-primary float-right"> Logout </button></a></hr></h1>
<form name="sentMessage" id="contactForm" method="post" action="/edit/{{s_no}}" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="title" name = "title" required data-validation-required-message="Please enter your name."value="{{post.title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tagline</label>
              <input type="text" class="form-control" placeholder="tagline" name = "tline" id="tline" required data-validation-required-message="Please enter your email address."value="{{post.tagline}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Slug" name = "slug"id="slug" required data-validation-required-message="Please enter your phone number."value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="4" input type = "text" class="form-control" placeholder="content" id="content" name = "content" required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Img_file</label>
              <input type = "text" class="form-control" placeholder="img_file" id="img_file"name="img_file" required data-validation-required-message="Please enter a message."value="{{post.img_file}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <a href="/edit"><button type="submit" class="btn btn-primary float-right" id="sendMessageButton">submit</button></a>
          </div>
        </form>
 
        <!-- Pager -->
        
      </div>
    </div>
  </div>
{% endblock %}